canvas#canvas {
    box-shadow: 4px 4px 6px #898989;
    margin-top: 0.5em;
}

a.btn {
    padding: 4px;
    border-radius: 4px;
    background-color: #3BB023;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer
}
a.btn:hover {
    background-color: #34A61E;
}
a.btn:active {
    background-color: #24960E;
}

a#play-again-btn {
    width: 100%;
    display: block;
}